

* {
  margin: 0px;
  padding: 0px;
  font-family: "roboto", cursive;
  
}

/*Dispositivo movil*/
.flex-container {
    margin: 5px;
    padding: 5px;
    border: 2px solid ;
    background-color: black;
    color: aliceblue;
    font-size: 15px;
}

header{
    display: flex;
    flex-direction: column;
    background-color: #03A9F4;
    color: aliceblue;
    text-align: start;
    margin: 1px;
}

.bloque1 {
    display: flex;
    flex-direction: column;
    background-color: #D22B1F;
    text-align: start;
    color: aliceblue;
    margin: 1px;
}
.bloque2 {
    display: flex;
    flex-direction: column;
    background-color: #129A22;
    text-align: start;
    color: aliceblue;
    margin: 1px;
}
.bloque3 {
    background-color: #673AB7;
    text-align: start;
    color: aliceblue;
    margin: 1px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color:#616161;
    text-align: start;
    color: aliceblue;
    margin: 1px;
}

p {
    padding: 10px;
}
/*dispositivo tablet*/
@media screen and (min-width: 765px){ 
    .flex-container {
        margin: 5px;
        padding: 5px;
        border: 2px solid ;
        background-color: black;
        color: aliceblue;
        font-size: 20px;

    }
    
    header{
        display: flex;
        flex-direction: column;
        background-color: #03A9F4;
        color: aliceblue;
        text-align: start;
        margin: 1px;
    }
    
    .bloque1 {
        display: flex;
        flex-direction: row;
        background-color: #D22B1F;
        text-align: start;
        color: aliceblue;
        margin: 1px;
    }
    .flex-container2 {
        display: flex;
        flex-direction: row;
        background-color: #129A22;
        text-align: start;
        color: aliceblue;
        margin: 1px;
    }
    
    footer {
        display: flex;
        flex-direction: column;
        background-color:#616161;
        text-align: start;
        color: aliceblue;
        margin: 1px;
    }
    
    p {
        padding: 10px;
    }
}

/*dispositivo pantalla*/
@media screen and (min-width: 1000px){ 
    .flex-container {
        margin: 5px;
        padding: 5px;
        border: 2px solid ;
        background-color: black;
        color: aliceblue;
        font-size: 20px;

    }
    
    header{
        display: flex;
        flex-direction: column;
        background-color: #03A9F4;
        color: aliceblue;
        text-align: start;
        margin: 10px;
        padding: 5px;
    }
    
    .bloque1 {
        margin: 10px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        background-color: #D22B1F;
        text-align: start;
        color: aliceblue;

    }
    .flex-container2 {
        display: flex;
        flex-direction: row;
        background-color: #129A22;
        text-align: start;
        color: aliceblue;
        margin-right: 30px;
        margin-left: 30px;
    }
    
    footer {
        margin: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        background-color:#616161;
        text-align: start;
        color: aliceblue;

    }
    
    p {
        padding: 10px;
    }


} /* en cada seccion del css se muestra el rango en el cual se adapta la paguina web al disposito de visualización*/